/*页尾*/
.footer{background-color: #fff;width: 100%;}
.bottom_content1{font-size: 12px;color:#a1a1a1 ;width: 511px;height: 37px;margin-top: 40px;}
.bottom_content1 span{margin-right: 14px;margin-bottom: 10px;}
.bottom_content1  p{margin-top: 10px;}
.imgdiv{margin-top: 20px;text-align:center}
.imgdiv img{margin-right:50px; }