.copyright-full-bottom{background: #c9c9c9;width: 100%;}
.com-footer{border-top: none;height: 38px;line-height: 24px;padding-top: 30px;}
.com-footer-top{height: 24px;overflow: hidden;position: relative;}
.com-footer-top p{color: #fff;}
.com-footer-top p a{padding-left: 10px;}
.copyright-footer{border-top: none;padding:0 0 25px;}
.copyright-footer-con{overflow: hidden;position: relative;}
.copyright-footer-con p{line-height: 25px;color: #fff;}
.copyright-footer-con p img{padding-left: 20px;}
.copyright-footer-con p.p1{padding-top: 20px;}
